/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main_font-family: 'Inter';
    --accent_font-family: 'PressStart2P';
    --font-weight_text: 400;
    --font-weight_title: 700;
    --main_font-size: 18px;
    --section__max-width: 700px;
    --accent-color: #000;
    --heart-fill-color: #FF0000;
    --contour-color: #000;
    --bg-color-gradient:
        repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}